
/* 页脚 */
.footer {
  background: #5d4037;
  color: #f9f7f2;
  padding: 0.5cm 1%;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer p {
  margin-bottom: 0.2cm;
  font-size: 16px;
}
